@import url(http://fonts.googleapis.com/css?family=Oswald);

body {
  background: #BDC3C7;
}

#header {
  text-align: center;
  color: #2C3E50;
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
}


#article-heading {
  background-color: #E7E7E7;
  width: 75%;
  height: 15vh;
  margin: 0 auto;
}

#article-div {
  background-color: white;
  width: 75%;
  height: absolute;
  margin: 0 auto;
  padding: 60px;
  shadow: 10px;
}

body>nav>active>a {
  background-color: #E74C3C;
}

